body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color: #212121; 
}

.logo {font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
}
.type {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
}
.foot {color:  #FFFFFF;}
.list { list-style: none;}
.link {text-decoration: none;}

/*---header--*/

    .header {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: #212121;
    }
    .header:hover,.header:focus {
        color: #2196F3;
    }
    .contact-head { blend: Pass through;
        color: #757575;}

/* section1*/
    .block {
        background-color:#2F303A ;}
    .section1 {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        /* or 136% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;}
    .first-section {
            font-weight: bold;
            font-size: 14px;
            line-height: calc(16 / 14);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #212121;
        }
    .first-par {
            font-weight: normal;
            font-size: 14px;
            line-height: calc(24 / 14);
            /* or 171% */

            letter-spacing: 0.03em;

            color: #757575;
        }
/*--button*/

    .button{font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: calc(26 / 16);
            /* identical to box height, or 162% */

            text-align: center;
            letter-spacing: 0.03em;

            color: #212121;
            background-color: #F5F4FA;
        }
    .button:hover,.button:focus{
            color: #FFFFFF;
            background-color: #2196F3;;
        }
/*--секция2,3*/
    .options{
        font-weight: bold;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
}
/*--Наша команда-*/
    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }
    .prof {
        font-weight: normal;
        color: #757575;
    }


/*--section portfolio--*/
    .project {
        font-weight: bold;
        font-size: 18px;
        line-height: calc(36 / 18);
        /* identical to box height, or 200% */

        letter-spacing: 0.06em;

        color: #212121;
}
    .work {
        font-weight: normal;
        font-size: 16px;
        line-height: calc(30 / 16);
        /* identical to box height, or 187% */

        letter-spacing: 0.03em;

        color: #757575;
}

/*footer*/
    footer{
        background-color: #2F303A;
    }
    .down-footer {
       
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        /* or 171% */

        letter-spacing: 0.03em;

        color: #FFFFFF;
    }
    .bace {
        color: rgba(255, 255, 255, 0.6);}